.albums_container {
	display: flex;
	justify-content: center;
	align-items: center;
}


.albums_subcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(0, 0, 0);
	width: 400px;
	gap: 5px;


}


.albums_carrousel {
	height: 400px;
	width: 400px;
	margin-bottom: 10px;

}

.albums_carrouselInner {
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;



	.left {
		flex: 4%;
		height: 100%;
		background-color: rgba(128, 128, 128, 0.2);
		display: grid;
		place-items: center;
		justify-items: end;
		cursor: pointer;

	}

	.center {
		flex: 80%;
		height: 100%;

	}

	.right {
		flex: 4%;
		height: 100%;
		background-color: rgba(128, 128, 128, 0.2);
		display: grid;
		place-items: center;


		cursor: pointer;


	}


}

.albums_statuscon {
	display: flex;
	justify-content: center;

}