.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #dc0000;
	border: solid green 1px;
	color: #000000;
	top: 0;
	/* position: absolute; */
	position: fixed;
	z-index: 999;
	width: 100%;

	/* margin-left: 0;
	padding-left: 0; */

}